<!DOCTYPE html>
<html>
<body>
<h1>Test password for matching username and password</h1>

<form method=POST>
  <table border=0>
    <tr><td>Username <td>: <td><input name=username value=>
    <tr><td>Password <td>: <td><input name=password value=>
      <tr><td> <td> <td><input type=submit formaction="test_password" value="Test no Escape">
        <tr><td> <td> <td><input type=submit formaction="escape_test_password" value="Test with escape">
		</table>
</form>

<h2>{{result}}</h2>